[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
dex = "G84pgVuVT3hTeAvxAfKPJkgPnSk4Es7w8bdoqKAMYD1Z"
lab3 = "6f6B16pt9eT2WtTt6jBTEMucjCQyD5UyRMRf3T8aSUQb"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"


[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
